<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%block title%}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
   
<!-- navbar code  -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgb(14, 14, 143);">
      
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><b>AUTOMOBILE</b></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Store</a>
              </li>
            </ul>
            
            <ul class="navbar-nav my-2 my-lg-0">
             {%if request.session.id%}

             <li class="nav-item">
              <button type="button" class="btn btn-info rounded-pill position-relative" style="height: 36px;">  
                <a class="nav-link" href="/cart/">Cart
                  <span class="position-absolute badge rounded-pill bg-danger">{{request.session.cart.keys|length}}</span>         
                  <span class="sr-only"></span></a>            
                             
             </button>                
             </li>


              <li class="nav-item">
                <span class="badge rounded-pill text-bg-primary">
                   <a class="nav-link" href="/orders/">Orders<span class="sr-only"></span></a>
                </span>
              </li>

              
  
              <li class="nav-item">
                <span class="badge rounded-pill text-bg-danger">
                  <a class="nav-link px-3" href="/logout/">Logout<span class="sr-only"></span></a>
                </span>
              </li>
               
              
              {%else%} 
             <li class="nav-item pr-4">
              <span class="badge rounded-pill text-bg-success">
                <a class="nav-link" href="/signup/">Signup<span class="sr-only"></span></a>
              </span>
             </li>

             <li class="nav-item">
              <span class="badge rounded-pill text-bg-warning ">              
               <a class="nav-link" href="/login/">Login<span class="sr-only"></span></a>
              </span>
             </li>            
            </ul>
          {%endif%}

            <!-- <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          
          -->
          </div>
        </div>
      </nav>

<!-- End Navbar -->

{%block content%}
{%endblock%}



    <h1></h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>